{{define "footer"}}
<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="footer_top flex-column">
                    <div class="footer_social">
                        <a href="https://github.com/bayuf"
                            ><i class="fa fa-github"></i
                        ></a>
                        <a href="https://www.linkedin.com/in/bayu19fr"
                            ><i class="fa fa-linkedin"></i
                        ></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
            <p class="col-lg-8 col-sm-12 footer-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                All rights reserved | This website is made with
                <i class="fa fa-heart-o" aria-hidden="true"></i> by Bayu
                Firmansyah
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
{{ template "javascript" . }}
<!--================End Footer Area =================-->
{{end}}
