{{define "head"}}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="icon" href="img/favicon.png" type="image/png" />
        <title>Bayu Firmansyah Portofolio</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="public/assets/css/bootstrap.css" />
        <link
            rel="stylesheet"
            href="public/assets/vendors/linericon/style.css"
        />
        <link rel="stylesheet" href="public/assets/css/font-awesome.min.css" />
        <link
            rel="stylesheet"
            href="public/assets/vendors/owl-carousel/owl.carousel.min.css"
        />
        <link rel="stylesheet" href="public/assets/css/magnific-popup.css" />
        <link
            rel="stylesheet"
            href="public/assets/vendors/nice-select/css/nice-select.css"
        />
        <!-- main css -->
        <link rel="stylesheet" href="public/assets/css/style.css" />
    </head>
</html>
{{template "nav" . }} {{end}}
