{{ define "portofolio" }}
<section class="portfolio_area" id="portfolio" style="margin-top: 10rem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title text-left" style="margin-bottom: 0px">
                    <h2>
                        quality work <br />
                        Recently done project
                    </h2>
                </div>
            </div>
        </div>
        <!--<div class="filters portfolio-filter">
      <ul>
        <li class="active" data-filter="*">all</li>
        <li data-filter=".popular">popular</li>
        <li data-filter=".latest">latest</li>
        <li data-filter=".following">following</li>
        <li data-filter=".upcoming">upcoming</li>
      </ul>
    </div>-->

        <div class="filters-content">
            <div class="row portfolio-grid justify-content-center">
                <div class="col-lg-4 col-md-6 all">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img
                                class="img-fluid w-100"
                                src="public/assets/img/portfolio/p1.jpg"
                                alt=""
                            />
                            <div class="overlay"></div>
                            <a
                                href="public/assets/img/portfolio/p1.jpg"
                                class="img-gal"
                            >
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4>
                                <a
                                    href="https://github.com/bayuf/project-app-portfolio-golang-bayufirmansyah"
                                    >Portofolio Website</a
                                >
                            </h4>
                            <p>Web Dinamis dengan Backend Golang</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 all">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img
                                class="img-fluid w-100"
                                src="public/assets/img/portfolio/p2.jpg"
                                alt=""
                            />
                            <div class="overlay"></div>
                            <a
                                href="public/assets/img/portfolio/p2.jpg"
                                class="img-gal"
                            >
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4>
                                <a
                                    href="https://github.com/bayuf/project-app-inventaris-cli-bayufirmansyah"
                                    >Inventory System</a
                                >
                            </h4>
                            <p>Golang, Postgresql</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 all">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img
                                class="img-fluid w-100"
                                src="public/assets/img/portfolio/p3.jpg"
                                alt=""
                            />
                            <div class="overlay"></div>
                            <a
                                href="public/assets/img/portfolio/p3.jpg"
                                class="img-gal"
                            >
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4>
                                <a
                                    href="https://github.com/bayuf/project-app-todo-list-cli-bayufirmansyah"
                                    >Todo List Golang CLI</a
                                >
                            </h4>
                            <p>Golang, Cobra CLI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
