{{ define "portofolio" }}
<section class="portfolio_area" id="portfolio" style="margin-top: 10rem">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title text-left" style="margin-bottom: 0px">
                    <h2>
                        quality work <br />
                        Recently done project
                    </h2>
                </div>
            </div>
        </div>

        <div class="filters-content">
            <div class="row portfolio-grid justify-content-center">
                {{ range .Projects }}
                <div class="col-lg-4 col-md-6 all">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img
                                class="img-fluid w-100"
                                src="{{ .IconURL }}"
                                alt="{{ .Title }}-img"
                            />
                            <div class="overlay"></div>
                            <a href="{{ .IconURL }}" class="img-gal">
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4>
                                <a href="{{ .LinkURL }}">{{ .Title }}</a>
                            </h4>
                            <p>{{ .Description }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
                <!--<div class="col-lg-4 col-md-6 all">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img
                                class="img-fluid w-100"
                                src="public/assets/img/portfolio/p2.jpg"
                                alt=""
                            />
                            <div class="overlay"></div>
                            <a
                                href="public/assets/img/portfolio/p2.jpg"
                                class="img-gal"
                            >
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4>
                                <a
                                    href="https://github.com/bayuf/project-app-inventaris-cli-bayufirmansyah"
                                    >Inventory System</a
                                >
                            </h4>
                            <p>Golang, Postgresql</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 all">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img
                                class="img-fluid w-100"
                                src="public/assets/img/portfolio/p3.jpg"
                                alt=""
                            />
                            <div class="overlay"></div>
                            <a
                                href="public/assets/img/portfolio/p3.jpg"
                                class="img-gal"
                            >
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4>
                                <a
                                    href="https://github.com/bayuf/project-app-todo-list-cli-bayufirmansyah"
                                    >Todo List Golang CLI</a
                                >
                            </h4>
                            <p>Golang, Cobra CLI</p>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>
{{ end }}
