{{ define "services" }}
<section class="features_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <h2>service offers</h2>
                    <p>
                        Is give may shall likeness made yielding spirit a itself
                        togeth created after sea <br />
                        is in beast beginning signs open god you're gathering
                        ithe
                    </p>
                </div>
            </div>
        </div>
        <div class="row feature_inner">
            {{ range .Offers }}
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img src="{{ .IconURL }}" alt="{{ .Title }}-icon" />
                    <h4>{{ .Title }}</h4>
                    <p>{{ .Description }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
